li > a {
  color: red;
}

nav > h2:first-child {
  color: white;
  background: teal;
  text-align: center;
}

nav p:nth-child(3) {
  color: red;
}

a[href] {
  text-decoration: none;
  color: red;
}

a[class="active"] {
  color: black;
  text-decoration: underline;
}

a[target="_self"] {
  background-color: aqua;
}

nav p:last-child::after {
  content: "...";
  color: green;
}

li::marker {
  color: teal;
}
nav > p:nth-child(4)::first-letter {
  font-size: 30px;
  color: red;
}
